body {
    font-family: Times New Roman, Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #785949;
}
header {
    background-color: #A67C66;
    color: #3E2E26
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {

    display: inline;

    margin: 0 10px;

}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}


main {

    padding: 20px;

}
section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
}
input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #D4A694;
    color: #3E2E26;
    border: none;
    cursor: pointer;
    font-family: Times New Roman, Times, serif;
}
button:hover {
    background-color: #b67f6d;

}
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #A67C66;

}



@media (max-width: 768px) {

    header, footer {

        text-align: left;

        padding: 10px;

    }

    nav ul li {

        display: block;

        margin: 5px 0;

    }

}